body{
	display:flex;
	flex-direction:column;
	align-items:center;
	background-image: url(/Learn-Web/img/background.png);
}
h1{
	font-family: "Calibri";
}
h2{
	font-family: "Calibri";
}
footer{
	background-color: rgba(131, 115, 115, 1);
	color: rgb(0, 0, 0);
	width: 100vw;
}
.menu__button{
	font-family: 'Open Sans', sans-serif;
	display: flex;
		justify-content: center;
		align-items: center;
	color:#000000;
	background-color: #9e9e9dde;
	width: 400px;
	border-radius: 10px;
	padding: auto;
	height: 50px;
	transition: 2s;
}
.menu__button:hover{
	background-color: #c9c9c4;
	cursor: pointer;
	width: 410px;
	transition: 2px;
	
}
a{
	text-decoration: none;
	color: rgb(0,0,0);
}
	a:hover{
		text-decoration: none;
	}
.text__login{
	align-items:center;
	font-family:"Calibri";
}
.button__img{
	width:20px;
	height:20px;
}
.easter__egg{
	color:rgba(255,255,255,0);
}
.link__login{
	color: rgba(0,0,255,1);
}
.link__icons{
	justify-content: flex-start;
	font-family:"Calibri";
}
#zaglav{
	font-family: 'Open Sans', sans-serif;
	display: flex;
		justify-content: center;
		align-items: center;
		background-color: #FFFFFF;
		width: 400px;
		border-radius: 10px;
		padding: auto;
		height: 30px;
		margin: 10px 0px;
}
#menu{
	font-family: 'Open Sans', sans-serif;
	display: flex;
		justify-content: left;
		align-items: center;
		background-color: #ffffff;
		width: 0px;
		border-radius: 10px;
		padding: 0px;
		height: 200px;
		margin: 30px 50px;
}
.reg__button{
	font-family: 'Open Sans', sans-serif;
	display: flex;
		justify-content: center;
		align-items: center;
		background-color: #3ae75d;
		width: 400px;
		border-radius: 10px;
		padding: 0px;
		height: 100px;
	
	}
